.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 10px black;
}

.data {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--brown);
}

.dataInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dataInfoTitle {
    font-size: 30px;
    font-weight: 900;
    font-family: var(--secondary);
    color: var(--green);
}

.dataInfoText {
    max-width: 700px;
    color: var(--white);
}

.dataInfoText a {
    color: var(--white);
}

.dataInfoButton {
    align-self: flex-start;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 700;
    color: var(--brown);
    background-color: var(--green);
    border: 2px solid var(--green);
    border-radius: 50px;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.dataInfoButton:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--brown);
    border-color: var(--brown);
}

@media (max-width: 1024px) {
    .data {
        padding: 50px 20px;
    }
    .dataInfoTitle {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: none;
    }

    .dataInfoText {
        max-width: none;
    }
    .image {
        max-height: 300px;
    }
}
