.container {
    position: fixed;
    width: calc(100% - 40px);
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--white);
    box-shadow: 0 0 10px black;
    z-index: 1000;
}

.logo {
    height: 80%;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.logo img {
    height: 100%;
    display: block;
}

.switch {
    display: none;
}

.links {
    height: 100%;
    padding: 0;
    list-style: none;
    display: flex;
}

.linksLink a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: var(--brown);
    transition: 0.3s;
}

.linksLink a:hover {
    color: var(--green);
    background-color: var(--brown);
}

.language {
    display: flex;
    align-items: center;
    gap: 10px;
}

.languageFlag {
    height: 20px;
    border: 1px solid black;
}

.languageFlag img {
    height: 100%;
}

.languageSelector {
    font-weight: 600;
    border: none;
    background-color: var(--white);
}

.languageSelector:hover {
    cursor: pointer;
}

.languageSelector:focus {
    color: var(--green);
    background-color: var(--brown);
    outline: none;
}

.languageSelector option {
    color: var(--green);
}

@media (max-width: 1024px) {
    .container {
        height: 50px;
    }

    .switch {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: var(--brown);
        background: none;
        border: none;
        padding: 5px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .switch:hover {
        color: var(--green);
    }

    .links {
        position: absolute;
        top: 50px;
        left: 0;
        height: calc(100vh - 70px);
        width: 100%;
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: var(--brown);
        transition: 0.3s;
    }

    .linksMobile {
        left: 100%;
    }

    .linksLink a {
        padding: 0;
        color: var(--green);
    }

    .language {
        position: absolute;
        top: calc(100vh - 40px);
        left: 0;
        width: 100%;
        justify-content: center;
        background-color: var(--brown);
        transition: 0.3s;
    }

    .languageMobile {
        left: 100%;
    }

    .languageSelector {
        color: var(--green);
        background-color: var(--brown);
    }
}
