.container {
    position: relative;
    min-height: 100vh;
    background-color: var(--brown);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

.overlay {
    position: relative;
    z-index: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.logo {
    width: 100%;
    max-width: 500px;
}

.logo img {
    width: 100%;
}

.slogan {
    max-width: 800px;
    text-align: center;
    font-family: var(--secondary);
    font-size: 20px;
    font-weight: 800;
    color: var(--white);
}

.title {
    max-width: 800px;
    text-align: center;
    font-family: var(--secondary);
    font-size: 20px;
    font-weight: 800;
    color: var(--green);
}

.audio {
    padding: 10px;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    transition: 0.3s;
}

.audio:hover {
    cursor: pointer;
    color: var(--brown);
    background-color: var(--white);
}

@media (max-width: 834px) {
    .overlay {
        padding: 50px 20px;
    }
}
