.container {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    background-color: var(--white);
}

.logo {
    height: 140px;
}

.logo img {
    height: 100%;
}

.data {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dataElement {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dataElement svg {
    min-width: 25px;
    font-size: 20px;
}

.dataElement path {
    color: var(--green);
}

.widget {
    display: flex;
    justify-content: center;
}

.widget img {
    height: 100%;
    max-height: 150px;
    border: 2px solid var(--brown);
    transition: 0.3s;
}

.widget img:hover {
    box-shadow: 0 0 4px black;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linksTitle {
    font-weight: 800;
}

.linksList {
    padding-left: 17px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.socialTitle {
    text-align: center;
    font-weight: 800;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socialIcons a {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--brown);
    border-radius: 50%;
    transition: 0.3s;
}

.socialIcons svg {
    font-size: 25px;
}

.socialIcons a:hover {
    background-color: var(--brown);
}

.socialIcons a:hover path {
    color: var(--white);
}

@media (max-width: 1440px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 834px) {
    .container {
        padding: 50px 20px;
        grid-template-columns: 1fr;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .logo {
        height: auto;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
}
